<div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i-feather class="feather-icon" name="home"></i-feather>
                Dashboard <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/employee']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i-feather class="feather-icon" name="users"></i-feather>
                Employees
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/phishing-mail-template']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i-feather class="feather-icon" name="file"></i-feather>
                Phishing Email Templates
              </a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">
                <i-feather class="feather-icon" name="bar-chart-2"></i-feather>
                Reports
              </a>
            </li> -->
          </ul>
        </div>
      </nav>
    </div>
  </div>
  