<!-- Content heading and actions -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{title}}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <button type="button" (click)="onOpenModal('send-phishing-mail')" class="btn btn-sm btn-outline-primary">
            <i-feather class="feather-icon" name="send"></i-feather>
            Send Phishing Mail
        </button>
    </div>
</div>
<!-- Content -->
<div class="main-content">
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light">
                <div class="card-header">Bar Chart</div>
                <div class="card-body">
                    <app-bar-chart *ngIf="barChartReady" [type]="top10PhishedEmployeesChart?.type"
                        [data]="top10PhishedEmployeesChart?.data"
                        [labels]="top10PhishedEmployeesChart?.labels"
                        [options]="top10PhishedEmployeesChart?.options"
                        [plugins]="top10PhishedEmployeesChart?.plugins"
                        [legend]="top10PhishedEmployeesChart?.legend"
                    ></app-bar-chart>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Bubble Chart</div>
                <div class="card-body">
                    <app-bubble-chart></app-bubble-chart>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Doughnut Chart</div>
                <div class="card-body">
                    <app-doughnut-chart></app-doughnut-chart>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Line Chart</div>
                <div class="card-body">
                    <app-line-chart></app-line-chart>
                </div>  
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Pie Chart</div>
                <div class="card-body">
                    <app-pie-chart></app-pie-chart>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Radar Chart</div>
                <div class="card-body">
                    <app-radar-chart></app-radar-chart>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Send Phishing Mail Modal -->
<div class="modal fade" id="sendPhishingMailModal" tabindex="-1" role="dialog" aria-labelledby="sendPhishingMailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sendPhishingMailModalLabel">Send Phishing Mail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #sendMailForm="ngForm">
                    <div *ngIf="phishingMailTemplates.length > 0">
                        <p>Select a phishing email template to be sent.</p>
                        <div>
                            <label for="exampleFormControlSelect1">Phishing Email Template</label>
                            <select class="form-control" id="phishingMailTemplateId" [(ngModel)]="phishingMailTemplateId" name="phishingMailTemplateId">
                                <option *ngFor="let mailTemplate of phishingMailTemplates" [value]="mailTemplate?.id">{{mailTemplate?.subject}}</option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="phishingMailTemplates.length === 0">
                        <p>No phishing mail templates were found!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <i-feather class="feather-icon" name="x"></i-feather>
                            Cancel
                        </button>
                        <button (click)="onSendPhishingMail(sendMailForm.value)" [disabled]="phishingMailTemplates.length === 0" 
                            class="btn btn-primary" data-dismiss="modal">
                            <i-feather class="feather-icon" name="send"></i-feather>
                            Send to all employees
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>